<div class="card mx-auto">
  <div class="card-body">
    <p class="lead">No Hay Productos Creados</p>
    <a href="/createProduct" class="btn btn-success btn-block">¡Crear Producto!</a>
  </div>
</div>