<div class="card mx-auto">
  <div class="card-body">
    <p class="lead">No Hay Ingredientes Creados</p>
    <a href="/createIngredient" class="btn btn-success btn-block">¡Crear Ingrediente!</a>
  </div>
</div>