<nav class="background-items menu-index">
  <ul class="nav justify-content-start">
    <li class="nav-item">
      <a href="/"><img src="assets/img/logo2.jpg" width="20%" height="40vh" style="border-radius: 100% " alt="img-logo"></a>        
      <a class="letters-items" href="/">¡Bienvenidos!</a>
    </li>
  </ul>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a style="margin-right: 10px" class="letters-items" href="/signup">Registrarse</a>
    </li>
    <li class="nav-item">
      <a class="letters-items" href="/signin">Iniciar Sesion</a>
    </li>
  </ul>
</nav>